/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --fonts: "Inter";
  --accent-fonts: "PressStart2P";
  --font-wght-title: 700;
  --font-wght-text: 400;
  --bg-image: repeating-linear-gradient(
      var(--main-bg-color) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      90deg,
      var(--main-bg-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      var(--main-bg-grad-color) 0.01%,
      var(--main-grad-color) 100%
    );
  --bg-color: #fff;
  --dialog-bg-color: rgb(0 0 0 / 0.75);
  --accent-color: #000000;
  --main-bg-color: #d3d3d3;
  --main-bg-grad-color: #e7e7e7;
  --main-grad-color: #1a1a1a;
  --sparks-color: #ff0000;
}
