/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --fonts: "Inter";
  --accent-fonts: "PressStart2P";
  --font-wght-title: 700;
  --font-wght-text: 400;
  --bg-image: repeating-linear-gradient(
      90deg,
      var(--rlg-1-1-color),
      transparent 2px
    ),
    repeating-linear-gradient(
      180deg,
      var(--rlg-2-1-color),
      var(--rlg-2-2-color) 2px
    );
  --bg-color: #fff;
  --dialog-bg-color: rgb(0 0 0 / 0.75);
  --accent-color: #000000;
  --rlg-1-1-color: #d3d3d3;
  --rlg-2-1-color: #e7e7e7;
  --rlg-2-2-color: #1a1a1a;
  --sparks-color: #ff0000;
}
